*{padding: 0; margin: 0;}
.header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #222;
    padding: 0 18%;
    padding-left: 18%;
    padding-right: 23%;
    box-sizing: border-box;
}
.logo-container{padding: 5px; display: flex; justify-content: center; align-items: center;}
.header-left{display: flex;}
.header div {align-items: center; gap: 10px;}
.vk_logo {width: 40px; height: 40px;}
.search {
    height: 30px;
    border-radius: 10px;
    background-color: #424242;
    border: none;
    outline: none;
    padding: 5px;
}
.search:hover {background-color: #4a4a4a;}
.h_a_container{margin-left: 15px; display: flex; flex-direction: row;}
.h_a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 50px;
    position: relative;
}
.h_a_i {
    height: 24px;
    filter: invert(60%) sepia(50%) saturate(4191%) hue-rotate(161deg) brightness(104%) contrast(104%);
}
.h_a:hover {background-color: #4a4a4a;}
.h_a:hover .h_a_i {background-color: #4a4a4a;}
.header-avatar{ width: 100%; display: flex; justify-content: flex-end;}
.avatarka{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    padding: 0 10px;
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.avatar{width: 40px; height: 40px; border-radius: 50%;}
.avatar:hover {background-color: #4a4a4a;}
.arrow {
    width: 18px; 
    height: 18px; 
    filter: invert(60%) sepia(50%) saturate(4191%) hue-rotate(161deg) brightness(104%) contrast(104%);
}
